<section class="card">
  <header class="summary">
    <div>
      <b class="post-title">{{title}}</b>
    </div>
    <div>
      <small class="post-info">Posted by {{user.username}} on {{format_date create_date}} </small>
    </div>
  </header>
  <p>{{content}} </p>
</section>


<section class="comments">
  {{#each comments as |comment|}}
    <div class="comment">
      <p>{{comment.content}}</p>
      <p>Commented by: {{comment.user.username}} on {{format_date create_date}}</p>
    </div>
  {{else}}
    <p>No comments yet.</p>
  {{/each}}
</section>

<section class="add-comment">
    <div class="new-comment-card">
    <form class="form new-comment-form">
        <div class="form-group">
        <label for="content">Comment:</label>
        <input class="form-input" type="text" id="content" />
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    </div>
</section>





