<section class="card">
  {{!-- <a href="/gallery/{{id}}"> --}}
    <header>
      <div>
        {{title}}
      </div>
      <div>
        <p>Posted by {{user.username}} on {{create_date}} </p>
      </div>
    </header>
    <p>{{content}} </p>
  {{!-- </a> --}}
</section>
