<section class="card">
  {{#if loggedIn}}
  <a href="/blogposts/{{blogpost_id}}">
  {{else}}
  <a href="/login">
  {{/if}}
    <header class="summary">
      <div>
        <b class="post-title">{{title}}</b>
      </div>
      <div>
        <small class="post-info">Posted by {{user.username}} on {{format_date create_date}} </small>
      </div>
    </header>
    <p>{{content}} </p>
  </a>
</section>
